.height-100 {
    height: 100vh;
}

.ratings {
    margin-right: 10px;
}

.ratings i {

    color: #cecece;
    font-size: 32px;
}

.rating-color {
    color: #fbc634 !important;
}

.review-count {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 24px !important;
}

.small-ratings i {
    color: #cecece;
}

.review-stat {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2px;
}

.scroll  {
    overflow-y: overlay;
    /* overflow-y: auto; */

    /* scrollbar-width: thin; */
}
::-webkit-scrollbar {display:none;}

.text {
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.h {
    font-size: 620;
    font-weight: 200;

}


.review-box {
    border-color: gray;
    border-radius: 3px;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 50px;

    border-width: 10px;
    border-color: white;
    background-color: black;
}

.review-box.div:last-child { 
    margin-bottom: 0;
} 
.review-box2 {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
}


.user {
    color: rgb(64, 60, 55);
    font-weight: 500;
}

.style {
    color: #20240bd7;
    font-style: italic;
    font-weight: 400;

}

.empty-reviews {
    background-color: white;
    color: black;
    margin-top: 10px;
    font-size: 21px;

}