/* body {
    background-color: #eef3f4;
} */
 
div {
color: black;
}
.height-100 {
    height: 100vh;
}

.card {
    width: 380px;
    border: none;
    height: 100px;
}

.ratings {
    margin-right: 10px;
}

.ratings i {

    color: #cecece;
    font-size: 32px;
}

.rating-color {
    color: #fbc634 !important;
}

.review-count {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 24px !important;
}

.small-ratings i {
    color: #cecece;
}

.review-stat {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2px;
}

.scroll {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

.text {
    color:#000000cd;
    font-weight: 400;
}

h6{
    font-weight: 600;
    
}

.user {
    color: rgb(64, 60, 55);
    font-weight: 500;
}

.style {
    
    color:#20240bd7;
    font-style: italic;
    font-weight: 400;
   
    
    
  }